<main class="wrapper">
  <h1>Workspace</h1>
  <div class="workspace">
    <div>
      <h1 class="allw">All worksheets</h1>
      <% if(worksheets && worksheets.length > 0) { %>
        <% worksheets.forEach((worksheet) => { %>
          <p class="worksheet-name"><%= worksheet.name %></p>
        <% }) %>
      <% } %>
    </div>

    <div>
      <a class="wsp-link" href="/workspace/edit">Edit workspace</a>
      <% if(cards && cards.length > 0) { %>
        <div class="card-display">
          <div class="card">
            <p class="w-name"><%=displayedCard.name %></p>
            <h1><%=displayedCard.question%></h1>
            <div class="answer"><p>?</p></div>
          </div>
          <div class="pn-buttons">
            <% let cc;%>
            <% cards.forEach((card, i) => { %>
              <% if (displayedCard.id === card.id) { %>
                <% cc = i%>
              <% } %>
            <% }) %>

            <% if(cards[cc-1]) { %>
              <% if(cards[0].id !== cards[cc].id) { %>
                <a id="next" class="wsp-link" href="/workspace/<%=cards[cc-1].id%>">Previous</a>
              <% } %>
            <% } else { %>
              <a class="not-active">Previous</a>
            <% } %>

            <% if(cards[cc+1]) { %>
              <% if(cards[cards.length-1].id !== cards[cc].id) { %>
                <a id="next" class="wsp-link" href="/workspace/<%=cards[cc+1].id%>">Next</a>
              <% } %>
            <% } else { %>
              <a class="not-active">Next</a>
            <% } %>
          </div>
        </div>
      <% } %>
    </div>

    <div>
      <% cards.forEach((card, i) => { %>
        <% if(displayedCard.id === card.id) { %>
          <div class="card-link current">
            <p class="w-name"><%=card.name %></p>
            <p><%= card.question %></p>
          </div>
        <% } else { %>
          <a href="/workspace/<%=card.id%>">
            <div class="card-link">
              <p class="w-name"><%=card.name %></p>
              <p><%= card.question.substring(0, 60) %>...</p>
            </div>
          </a>
        <% } %>
      <% }) %>
    </div>
  </div>
</main>
