<main class="wrapper">
  <div class="workspace">
    <!-- Displays worksheets in workspace -->
    <div>
      <h1 class="allw">All worksheets</h1>
      <% if(worksheets && worksheets.length > 0) { %>
        <% worksheets.forEach((worksheet) => { %>
          <p class="worksheet-name"><%= worksheet.name %></p>
        <% }) %>
      <% } %>
    </div>

    <!-- Display container -->
    <div>
      <h1 class="greeting">Welcome, <%=uname%></h1>
      <a class="wsp-link edit-links" href="/workspace/edit">Edit workspace</a>
      <% if(cards && cards.length > 0) { %>
        <div class="card-display">
          <div class="card">
            <p class="w-name"><%=displayedCard.name%><span class="bar"></span><span class="type"><%=displayedCard.type%></span></p>

            <!-- Question container -->
            <div class="q-container">
              <h1 class="question"><%- displayedCard.question %></h1>
              <%const letters = ['a', 'b', 'c', 'd', 'e'] %>
              <% let ans, letter;%>

              <div class="mc-options">
                <% if (displayedCard.type === 'multiple choice') { %>
                  <% options.forEach((option, i) => { %>
                    <% if (option.istrue === true) { %>
                      <% letter = i %>
                      <% ans = option.option %>
                    <% } %>
                    <div class="option">
                      <p><span class="option-letter"><%=letters[i]%>.</span> <%- option.option %></p>
                    </div>
                  <% }) %>
                <% } %>
              </div>
            </div>

            <!-- Answer container -->
            <div class="a-container hide">
              <% if (displayedCard.type === 'multiple choice') { %>
                <h1 class="option"><span class="option-letter"><%= letters[letter] %>.</span> <%- ans %></h1>
              <% } else { %>
                <h1 class="option"><%- options[0].option %></h1>
              <% } %>
            </div>
            <div class="answer"><p>?</p></div>
          </div>
          <div class="pn-buttons">
            <% let cc;%>
            <% cards.forEach((card, i) => { %>
              <% if (displayedCard.id === card.id) { %>
                <% cc = i%>
              <% } %>
            <% }) %>

            <!-- Buttons -->
            <% if(cards[cc-1]) { %>
              <% if(cards[0].id !== cards[cc].id) { %>
                <a id="prev" class="wsp-link" href="/workspace/<%=cards[cc-1].id%>">Previous</a>
              <% } %>
            <% } else { %>
              <a class="not-active">Previous</a>
            <% } %>

            <% if(cards[cc+1]) { %>
              <% if(cards[cards.length-1].id !== cards[cc].id) { %>
                <a id="next" class="wsp-link" href="/workspace/<%=cards[cc+1].id%>">Next</a>
              <% } %>
            <% } else { %>
              <a class="not-active">Next</a>
            <% } %>
          </div>
        </div>
      <% } %>
    </div>

    <!-- Card Links -->
    <div>
      <% cards.forEach((card, i) => { %>
        <% if(displayedCard.id === card.id) { %>
          <div class="card-link current">
            <p class="w-name"><%=card.name %></p>
            <p><%- card.question %></p>
          </div>
        <% } else { %>
          <a href="/workspace/<%=card.id%>">
            <div class="card-link">
              <p class="w-name"><%=card.name %></p>
              <p><%- card.question.substring(0, 60) %>...</p>
            </div>
          </a>
        <% } %>
      <% }) %>
    </div>
  </div>
</main>
