<% include ../partials/boilerplate %>
<body class="workspace-container">
<% include ../partials/header %>
<% include ../partials/logout %>
<% include ../partials/headerend %>

<main class="wrapper">
  <div class="workspace-edit">
    <div>
      <h1 class="allw">All worksheets</h1>
      <% if(worksheets && worksheets.length > 0) { %>
        <% worksheets.forEach((worksheet) => { %>
          <div class="worksheet-drop">
            <h2 class="worksheet-name"><%= worksheet.name %></h2>
            <form action="/worksheets/<%=worksheet.id%>?_method=DELETE" method="post">
              <button class="drop">Delete From Workspace</button>
            </form>
          </div>
        <% }) %>
      <% } %>
    </div>

    <div>
      <a class="wsp-link" href="/workspace/">Back to workspace</a>
      <a class="wsp-link" href="/workspace/new">Create New Study Card</a>

      <div class="created-cards">
        <% if (cards && cards.length > 0) { %>
          <% cards.forEach((card) => { %>
            <div class="card-edit">
              <p class="edit-ws"><%=card.name %></p>
              <p class="qa-line"><span class="edit-s">Question: </span><%= card.question %></p>
              <% options.forEach((option) => { %>
                <% if(option.card_id === card.id) { %>
                  <p class="qa-line"><span class="edit-s">Answer: </span><%= option.option %></p>
                <% } %>
              <% }) %>
              <div class="update-delete">
                <a class="update" href="/workspace/update/<%=card.id%>">Update</a>
                <form action="/workspace/<%=card.id%>?_method=DELETE" method="post">
                  <button class="delete">Delete</button>
                </form>
              </div>
            </div>
          <% }) %>
        <% } %>
      </div>
    </div>
  </div>
</main>

<% include ../partials/end %>
