<% include ../partials/boilerplate %>
<body class="workspace_container">
<% include ../partials/header %>

<main class="wrapper">
  <h1>Workspace</h1>
  <div class="workspace">
    <div>
      <h1>All worksheets</h1>
      <% if(worksheets && worksheets.length > 0) { %>
        <% worksheets.forEach((worksheet) => { %>
          <h2><%= worksheet.name %></h2>
          <%=JSON.stringify(worksheets)%>
          <form action="/worksheets/<%=worksheet.id%>?_method=DELETE" method="post">
            <button>Delete From Workspace</button>
          </form>
        <% }) %>
      <% } %>
    </div>

    <div>
      <a href="/workspace/">Back to workspace</a>
      <% if(cards && cards.length > 0) { %>
        <div class="card">
          <h1><%=cards[id].question%></h1>
          <p>huh</p>
        </div>
        <% if(parseInt(id) > 0) { %>
          <a href="/workspace/<%=parseInt(id)-1%>">Previous</a>
        <% } %>

        <% if(parseInt(id) < cards.length-1) { %>
          <a href="/workspace/<%=parseInt(id)+1%>">Next</a>
        <% } %>
      <% } %>
    </div>

    <div>
      <% cards.forEach((card, i) => { %>
        <% if(i === parseInt(id)) { %>
          <div class="cardLink current">
            <p><%= card.question %></p>
          </div>
        <% } else { %>
          <a href="/workspace/<%=i%>">
            <div class="cardLink">
              <p><%= card.question %></p>
            </div>
          </a>
        <% } %>
      <% }) %>
    </div>
  </div>
</main>

<% include ../partials/end %>
